// Base

@use "./partials/base/resets";
@use "./partials/base/tipografia";


// COMPONENTS
@use "./partials/components/navbar";
@use "./partials/components/general";
@use "./partials/components/cards"; 
@use "./partials/components/carousele";
@use "./partials/components/containers";
@use "./partials/components/formulario";



















.title1{
        padding-bottom: 16px;
        padding-top: 16px;
        text-align: center;
        justify-content: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color:rgb(176, 101, 76 );
        
}
h2{
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 12px;
    }










