@use "../utilities/variables";




.list-container{
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        gap: 30px;
        display:flex;
        flex-wrap: wrap;
        font-family: variables.$font-family;
    .card{
            text-align: center;
            border: 1px solid #444;
            border-radius: 12px;
            width: 300px;
            background-color: variables.$p-main-color;
    }
    .font-size{
        font-size: 20px;
    }
}