

#carouselExample {
    max-width: 600px; 
    margin: 0 auto; 
    width: 90%; 
    margin-top: 50px; 
        .carousel-img2 {
            width: 100%;
            height: 300px; 
            object-fit: cover; 
            border-radius: 8px; 
    }
}

