@use "../utilities/variables";




body {
    background-color: rgb(176, 101, 76)
}

.div-main {
    width: 100%;
    .main-sections {
        justify-content:center;
        align-items: center;
        width: 100%;
        color: black;
        font-size: 20px;
        border-radius: 16px;
        display:inline-block;
        background-color: variables.$p-main-color;
        font-family: variables.$font-family;
        .games {
            font-size: variables.$font-size;
            font-size: 20px;
        }
    }
}
footer{
    background-color: variables.$p-main-color;
    
}
.p-main {
    text-align: center;
    color: black;
    font-size: variables.$font-size;
    border-radius: 16px;
    width: 100%;
    background-color: variables.$p-main-color;
    font-family: variables.$font-family;
}

.jugador img {
    width: 100%;
    border-radius: 8px;
}

.jugador h2 {
    margin: 10px 0 5px;
    color: #030303;
    font-family: variables.$font-family
}

.jugador p {
    font-size: variables.$font-size;
    margin: 5px 0;
    color: #BABABA;
}

.video-mp4 {
    width: 100%;
}



.title1 {
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    justify-content: center;
    font-family: variables.$font-family;
    background-color: rgb(176, 101, 76);
    font-size: variables.$font-size;
}


h2 {
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    justify-content: center;
    font-family: variables.$font-family;
    border-radius: 12px;
}



.video-size {
    background: linear-gradient(45deg, #ff6b35, #f7931e);
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.3s ease;
    width: 100%;
    margin-top: 10px;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 25px;
    }
}
.linkcs2{
    justify-content: center;
    .submit-btn{
    display: inline-block;
    background: linear-gradient(45deg, #ff6b35, #f7931e);
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.1em;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(255, 107, 53, 0.4);
    &:hover{
                transform: translateY(-2px);
                box-shadow: 0 8px 25px ;
            }
    }
    .pagecs2{
    width: 100%;
    align-content: center;
    margin-top: 20px;
}
}


