* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .cs-stats {
        justify-content: center;
    }
}